<form [formGroup]="myForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      (change)="onChange(myForm.get('username'), 'username')"
      class="form-control">
    <div *ngIf="myForm.get('username').touched && myForm.get('username').invalid" class="alert alert-danger">
      <div *ngIf="myForm.get('username').errors.required">Username is required</div>
      <div *ngIf="myForm.get('username').errors.shouldBeUniq">Username already exist</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      (change)="onChange(password, 'password')"
      class="form-control">
    <div
      class="alert alert-danger"
      *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.cannotContainSpace">Password can't contain space</div>
      <div *ngIf="password.errors.minlength">Password should be minimum {{ password.errors.minlength.requiredLength }} characters</div>
      <div *ngIf="password.errors.shouldBeUniq">Password already exist</div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
