<!--<div *ngIf="coursesList.length; then courses else noCourses"></div>
<ng-template #courses>
  <h2>list of courses</h2>
  <ul>
    <li *ngFor="let item of coursesList">{{ item }}</li>
  </ul>
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template>-->

<!--<div [hidden]="!coursesList.length">
  <h2>list of courses</h2>
  <ul>
    <li *ngFor="let item of coursesList">{{ item }}</li>
  </ul>
</div>
<div [hidden]="coursesList.length">
  No courses yet
</div>-->

<button type="button" (click)="onAdd()">Add field</button>
<ul>
  <li *ngFor="let course of courses; index as i">
    {{i+1}} - {{ course.name }}
    <button type="button" (click)="onRemove(i)">Remove Item</button>
  </li>
</ul>
